.schedule-section {
  padding: 5rem 2rem;
  background: #02132d;
  color: #fff;
  text-align: center;
  overflow-x: auto;
}

.schedule-title {
  font-size: 5rem;
  margin-bottom: 3rem;
  font-family: Nathalia, cursive;
  text-shadow: none;
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 2rem 0;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #b69c59;
  z-index: 1;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  min-width: 200px;
  flex-shrink: 0;
}

.animation-wrapper {
  width: 100px;
  height: 100px;
}

.connector {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #fff;
  margin: 1rem 0;
}

.connector .line {
  width: 160px;
  height: 2px;
  background-color: #fff;
}

.connector .dot {
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #b69c59;
}

.text-wrapper {
  text-align: center;
}

.text-wrapper h3 {
  margin: 0;
  font-size: 1.2rem;
  text-shadow: none;
  color: #e7c878;
  font-family: Georgia, serif;
}

.text-wrapper p {
  margin: -0.5rem;
  font-size: 2rem;
  color: #e7c878;
  text-shadow: none;
  font-family: giorgia, regular;

}

/* Mobile responsive */
@media (max-width: 768px) {
  .timeline-container {
    flex-direction: column;
    align-items: center;
  }

  .timeline-line {
    width: 4px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }


  .connector {
    flex-direction: column;
  }

  .connector .line {
    width: 2px;
    height: 40px;
  }

  .connector .dot {
    margin: 10px 0;
  }

  .animation-wrapper,
  .text-wrapper {
    width: 100px;
  }
}
